/* ./styles/DataSettings.css */

.data-settings {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* flex-direction: row; */
    padding: 15px;
}

.setting {
    display: block;
    /* flex-direction: column; */
    margin: 10px;
}

.setting label {
    margin: 5px;
}

.setting button,
.setting select,
.setting input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.setting button {
    background-color: #7b4bd3;
    color: white;
    border: 1px solid;
    cursor: pointer;
}

.setting button:hover {
    background-color: #000000;
}