.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 100px 1fr 100px 60px;
    /* gap: 10px; */
    /* padding: 10px; */
    margin: 0;
    border: 4px, solid, white;
  }
  
  .grid-item {
    background-color: #000000;
    border: 2px solid #ccc;
    padding: 12px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px
  }
  
  .logo {
    grid-column: 1;  /* Changed to occupy only the first column */
    grid-row: 1;
  }
  .vibecheck-logo {
    width: auto; /* Makes the logo responsive to the grid item's width */
    height: 100%; /* Maintains the aspect ratio */
    max-width: 200px; /* Or any other max-width you prefer */
}
  
  .session_settings {
    grid-column: 2;
    grid-row: 1;
  }
  
  .tabbed_interface {
    grid-column: 3;
    grid-row:  1 / span 2;
  }

  .live_plot {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #3b3f44;
  }
  
  
  .plot_controls {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  
  .hardware_controls {
    grid-column: 3;
    grid-row: 3 / span 2;
  }
  
  .status_display {
    grid-column: 1 / span 2;
    grid-row: 4;
  }