/* ./styles/StatusDisplay.css */

.status-display {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .status-display h3 {
    margin: 10px;
    }
  
  .message-box {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #000000;
  }
  
  .message {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  
  .message.error {
    background-color: #ffebee;
    color: #c62828;
  }
  
  .message.warning {
    background-color: #fff8e1;
    color: #f9a825;
  }